body {
    margin: 0;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: aqua;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: white;
}